


* {
    box-sizing: border-box;
    font-family: "Lato",sans-serif,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    /* font-family:; */
    /* text-transform: capitalize; */
   

    
}
/* ---------------------------colors--------------------------- */

:root{
    --primary-color:#FF9900 !important;
    --primary-light-color:#fccb83 !important;
    --secondary-color:rgb(250, 240, 194);
    --text-white-color:rgb(255, 255, 255);
    --text-black-color:rgb(22, 22, 22) !important;
}

/* -------------------------cards----------------------------- */
.price-card-page .price-card{
    background: var(--primary-light-color) !important;
    /* box-shadow: inset 0 0 20px #f7efc3 !important; */
}
.heading{
    font-size:clamp(18px,4vw,20px);
}
.package-name{
    color: var(--primary-color);
    font-size:clamp(16px,4vw,17px);
    font-weight: 501 !important;
}
.fa-amazon{
    font-size: 13px !important;
}
.card-div{
    width: 350px;
    min-height: 600px !important;
    border: none !important;
    transition: all 0.5s ease-in-out;
}
.card-imgs{
    box-shadow: inset 0px 0px 20px #e7e6e6 !important;
    height: 150px;
    /* background-color: var(--text-white-color); */

}
.card-img{
    height: 100px;
    width: 130px !important;
}
#more,#more-center,#more-last{
    display: none;
}
.more,.more-center,.more-last,.fa-hand-o-right{
    cursor: pointer;
    background: transparent;
    border: none;
   float: right !important;
    color: var(--primary-color) !important;

    
}
/* .more-center,.more-last{
   position:fixed;
   
} */
.fa-phone{
     color: var(--primary-color) !important;
 }
 
.card-prah{
    font-size:clamp(9px,3.5vw,12px) !important;
    line-height: 24px;
    padding: 15px !important;
    font-family: "Lato" !important;
}
.point-text{
    display: flex;
    justify-content: start ;
    align-items: start;
}
.point{
    line-height:15px !important;
}
.page-prah{
    font-size:clamp(13px,4vw,16px); 
    line-height: 24px !important;
    font-weight: 500 !important;
    font-family: "Lato" !important;
}
.card-footer{
   display: flex;
   justify-content: center;
   padding: 15px !important;
}
.price{
    font-size: 19px;
    /* position: relative; */
}
.card-footer button{
    background:var(--primary-color) !important;
    color: var(--text-white-color);
  min-width: 9rem;
  min-height: 2.2rem !important;
  border-radius: 3px !important;
  border: solid 1px var(--primary-color);
    /* transition: all 0.05s ease-in-out !important; */
}
.card-footer button:hover {
    
    color: var(--text-white-color) !important;

}
/* .card-div:hover{
    transform: scale(1.02) !important;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
} */

